@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #747272;
}

ul, li, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1450px;
  padding: 0 50px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  color: #ffffff;
}
@media (max-width: 1199px) {
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 20px;
  }
}

h3 {
  font-size: 16px;
  color: #373737;
  margin-bottom: 5px;
}

.purple-btn {
  background-color: #7B61FF;
  height: 12px;
  width: 20px;
  border-radius: 100px;
}

.primary-btn {
  color: #2F64FF;
  font-weight: 600;
  border-radius: 4px;
  padding: 0 20px;
  border: 1px solid #2F64FF;
  display: inline-block;
  text-align: center;
  line-height: 2.8;
  transition: 0.5s all;
}
.primary-btn:hover {
  background-color: #2F64FF;
  color: #ffffff;
}

.secondary-btn {
  line-height: 1.7;
  padding: 0 8px;
  display: inline-block;
  color: #18009E;
  background-color: #E8EEFF;
  border-radius: 4px;
}

.fc-theme-standard td {
  color: #151515;
  font-weight: 400;
}

.fc .fc-col-header-cell-cushion {
  padding: 12px;
}
.fc .fc-daygrid-day-top {
  flex-direction: row;
  padding: 9px 12px;
}
.fc .fc-daygrid-day-top .fc-daygrid-day-number {
  padding: 3px 6px;
  border-radius: 4px;
}
.fc .fc-day-other .fc-daygrid-day-top {
  color: #B9B8B8;
  opacity: 1;
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: #ffffff;
}
.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-top .fc-daygrid-day-number {
  background-color: #E8EEFF;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 17px;
}
.fc .fc-daygrid-event-harness {
  margin-bottom: 2px;
}

.fc-theme-standard th {
  color: #747272;
  font-weight: 400;
}

.month .select2.select2-container {
  width: 100% !important;
}
.month .select2.select2-container .select2-selection--single {
  height: 36px;
}
.month .select2.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  font-size: 16px;
  font-weight: 600;
  padding-left: 0;
}
.month .select2.select2-container--default .select2-selection--single {
  border-radius: 24px;
  border: none;
}
.month .select2.select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url(../images/vector.svg);
  position: absolute;
  background-size: 10px 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  height: 100%;
  width: 12px;
  top: -1px;
  right: 5px;
}
.month .select2.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.custom-dropdown .select2.select2-container {
  width: 100% !important;
}
.custom-dropdown .select2.select2-container.select2-container--open .select2-selection__arrow {
  transform: rotate(180deg);
}
.custom-dropdown .select2.select2-container.select2-container--open .select2-selection--single {
  border: 1px solid #2F64FF;
}
.custom-dropdown .select2.select2-container.select2-container--open .select2-dropdown--below {
  margin-top: 10px !important;
}
.custom-dropdown .select2.select2-container.select2-container--open .select2-dropdown--above {
  margin-top: -10px !important;
}
.custom-dropdown .select2.select2-container .select2-selection--single {
  height: 36px;
}
.custom-dropdown .select2.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 12px;
  padding-right: 36px;
}
.custom-dropdown .select2.select2-container--default .select2-selection--single {
  border: 1px solid #DBDBDB;
  border-radius: 24px;
}
.custom-dropdown .select2.select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url(../images/vector.svg);
  position: absolute;
  background-size: 7px 7px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  height: 100%;
  width: 8px;
  top: 0px;
  right: 10px;
}
.custom-dropdown .select2.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.custom-dropdown .select2.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #373737;
}
.custom-dropdown.month .select2.select2-container .select2-selection--single {
  height: 36px;
}
.custom-dropdown.month .select2.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  font-size: 16px;
  font-weight: 600;
  padding-left: 0;
}
.custom-dropdown.month .select2.select2-container--default .select2-selection--single {
  border-radius: 24px;
  border: none;
}
.custom-dropdown.month .select2.select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url(../images/vector.svg);
  position: absolute;
  background-size: 10px 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  height: 100%;
  width: 12px;
  top: -2px;
  right: 5px;
}
.custom-dropdown.month .select2.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection__arrow {
  transform: rotate(180deg);
}
.select2-container--default.select2-container--open .select2-selection--single {
  border: 1px solid #2F64FF;
}
.select2-container--default.select2-container--open .select2-dropdown--below {
  margin-top: 10px !important;
  border-radius: 4px !important;
}
.select2-container--default.select2-container--open .select2-dropdown--above {
  margin-top: -10px !important;
  border-radius: none;
}
.select2-container--default .select2-dropdown {
  border: 1px solid #DBDBDB;
}
.select2-container--default .select2-dropdown .select2-results > .select2-results__options {
  color: #373737;
  font-size: 14px;
  overflow-y: auto;
  background: #ffffff;
  padding: 0;
}
.select2-container--default .select2-dropdown .select2-results > .select2-results__options .select2-results__option {
  padding: 8px 8px 8px 20px;
  margin-left: 8px;
  word-break: break-all;
}
.select2-container--default .select2-dropdown .select2-results__option--highlighted[aria-selected] {
  background-color: #ffffff;
  color: #2F64FF;
  background-image: url(../images/right-mark.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.select2-container--default .select2-dropdown .select2-results__option[aria-selected=true] {
  background-color: #ffffff;
}

.slider-block .swiper-pagination {
  display: none;
}
.slider-block .next-arrow.swiper-button-disabled path {
  fill: #b9b8b8;
}
.slider-block .prev-arrow.swiper-button-disabled path {
  fill: #b9b8b8;
}

.fc-direction-ltr .fc-daygrid-event {
  border: none;
  border-radius: 0;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end {
  margin-right: 0;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-start {
  margin-left: 0;
}
.fc-direction-ltr .fc-daygrid-event.orange {
  border-left: 2px solid #ff6128 !important;
}
.fc-direction-ltr .fc-daygrid-event.purple {
  border-left: 2px solid #b656ff !important;
}
.fc-direction-ltr .fc-daygrid-event.blue {
  border-left: 2px solid #0385fe !important;
}
.fc-direction-ltr .fc-daygrid-event.yellow {
  border-left: 2px solid #ffb861 !important;
}
.fc-direction-ltr .fc-daygrid-block-event .fc-event-title {
  padding: 2px 8px;
  text-overflow: ellipsis;
  line-height: 1.6;
  font-size: 12px;
}
.fc-direction-ltr .fc-h-event .fc-event-main {
  color: #151515;
}

.fc .fc-daygrid-day-bottom {
  margin: 0;
}
.fc .fc-daygrid-day-bottom .fc-daygrid-more-link {
  background-color: rgba(116, 114, 114, 0.1019607843);
  border-left: 2px solid #747272;
  padding: 0px 26px 0 8px;
  line-height: 1.6;
  border-radius: 0;
  position: relative;
}
.fc .fc-daygrid-day-bottom .fc-daygrid-more-link::after {
  content: " ";
  background-image: url(../images/vector.svg);
  position: absolute;
  background-size: 7px 7px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  height: 100%;
  width: 8px;
  top: 0px;
  right: 12px;
}

.event-description {
  display: none;
}

.event-calendar .fc-listMonth-view .event-description {
  display: block;
}

.fc-direction-ltr {
  height: calc(100% - 36px);
}

.header-wrapper {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper .nav-listing {
  display: flex;
  margin: 0 -18px;
}
.header-wrapper .nav-listing li {
  padding: 0 18px;
}
.header-wrapper .nav-listing li a {
  font-size: 14px;
  color: #2F64FF;
  font-weight: 600;
}
.header-wrapper .btn-listing {
  display: flex;
  margin: 0 -8px;
}
.header-wrapper .btn-listing li {
  padding: 0 8px;
}

.main-section .event-calendar .event-calendar-wrapper {
  display: flex;
}
.main-section .event-calendar .event-calendar-wrapper .event-calendar {
  flex: 0 0 calc(100% - 302px);
  max-width: calc(100% - 302px);
  padding-right: 12px;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block {
  flex: 0 0 302px;
  max-width: 302px;
  padding: 16px 0;
  border: 1px solid #DBDBDB;
  margin-top: 53px;
  border-radius: 4px;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .slider-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 0 16px;
  align-items: center;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .slider-nav .slider-next-prev .next-arrow {
  transform: rotate(180deg);
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .slider-nav .slider-next-prev svg {
  cursor: pointer;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .swiper-wrapper .slider-item.swiper-slide {
  padding: 0 16px;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .swiper-wrapper .slider-item .slider-item-inner .title-block {
  margin-bottom: 20px;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .swiper-wrapper .slider-item .slider-item-inner .content-block p {
  color: #373737;
  line-height: 1.4;
  margin-bottom: 20px;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .swiper-wrapper .slider-item .slider-item-inner .button-wrapper {
  margin-bottom: 20px;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .swiper-wrapper .slider-item .slider-item-inner .button-wrapper .primary-btn {
  width: 100%;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .swiper-wrapper .slider-item .slider-item-inner .button-wrapper .primary-btn:not(:last-child) {
  margin-bottom: 8px;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .swiper-wrapper .slider-item .slider-item-inner .info-block-wrapper {
  margin-bottom: -20px;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .swiper-wrapper .slider-item .slider-item-inner .info-block-wrapper .info-block {
  padding-bottom: 20px;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .swiper-wrapper .slider-item .slider-item-inner .info-block-wrapper .info-block span {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.666;
  margin-bottom: 5px;
  color: #747272;
  display: block;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .swiper-wrapper .slider-item .slider-item-inner .info-block-wrapper .info-block p {
  color: #373737;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .swiper-wrapper .slider-item .slider-item-inner .info-block-wrapper .info-block .button-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px -8px;
}
.main-section .event-calendar .event-calendar-wrapper .slider-block .swiper-wrapper .slider-item .slider-item-inner .info-block-wrapper .info-block .button-group .btn {
  padding: 0 4px 8px;
}
.main-section .calender-menu {
  display: flex;
  margin: 0 -8px;
}
.main-section .calender-menu .menu-item {
  padding: 0 8px;
}
.main-section .calender-menu .menu-item.month {
  flex: 0 0 178px;
  max-width: 178px;
}
.main-section .calender-menu .menu-item.custom-dropdown {
  flex: 0 0 15%;
  max-width: 15%;
}
.main-section .calender-menu .menu-item.event-notes .event-notes-inner {
  border: 1px solid #DBDBDB;
  display: inline-flex;
  align-items: center;
  border-radius: 24px;
  padding: 7px 4px;
}
.main-section .calender-menu .menu-item.event-notes span {
  padding: 0 8px;
  display: inline-flex;
  align-items: center;
  height: 100%;
}
.main-section .calender-menu .menu-item.event-notes span:first-child {
  border-right: 1px solid #DBDBDB;
}
.main-section .calender-menu .menu-item.event-notes span img {
  cursor: pointer;
  filter: brightness(1.2) contrast(1.2) sepia(1) hue-rotate(180deg) saturate(0.3);
}
.main-section .calender-menu .menu-item.event-notes span img.active {
  filter: none;
}/*# sourceMappingURL=main.css.map */