
.header-wrapper{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    
    .nav-listing{
        display: flex;
        margin: 0 -18px;
        li{
            padding: 0 18px;
            a{
                font-size: 14px;
                color: $primary-color;
                font-weight: 600;
            }
        }
    }
    .btn-listing{
        display: flex;
        margin: 0 -8px;
       li{
        padding: 0 8px;
       }
    }
}

.main-section{
    .event-calendar{
        .event-calendar-wrapper{
            display: flex;

            .event-calendar{
                flex: 0 0 calc(100% - 302px);
                max-width: calc(100% - 302px);
                padding-right: 12px;
            }
            .slider-block{
                flex: 0 0 302px;
                max-width: 302px;
                padding: 16px 0;
                border: 1px solid $grey;
                margin-top: 53px;
                border-radius: 4px;

                .slider-nav{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 12px;
                    padding: 0 16px;
                    align-items: center;

                    .slider-next-prev{
                        .next-arrow{
                            transform: rotate(180deg);
                        }
                        svg{
                            cursor: pointer;
                        }
                    }
                }
                .swiper-wrapper{
                    .slider-item{
                        &.swiper-slide {
                            padding: 0 16px;
                        }
                        .slider-item-inner{
                            .title-block{
                                margin-bottom: 20px;
                            }
                            .content-block{
                                p{
                                    color: $text-color-2;
                                    line-height: 1.4;
                                    margin-bottom: 20px;
                                }
                            }
                            .button-wrapper{
                                margin-bottom: 20px;
                                .primary-btn{
                                    width: 100%;

                                    &:not(:last-child){
                                        margin-bottom: 8px;
                                    }
                                }
                            }
                            .info-block-wrapper{
                                margin-bottom: -20px;
                                .info-block{
                                    padding-bottom: 20px;

                                    span{
                                        text-transform:  uppercase;
                                        font-size: 12px;
                                        line-height: 1.666;
                                        margin-bottom: 5px;
                                        color: $text-color;
                                        display: block;
                                    }
                                    p{
                                        color: $text-color-2;
                                    }
                                    .button-group{
                                        display: flex;
                                        flex-wrap: wrap;
                                        margin: 0 -4px -8px;
                                        .btn{
                                            padding: 0 4px 8px;
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
                
            }
        }

    }
    .calender-menu{
        display: flex;
        margin: 0 -8px;
        .menu-item{
            padding: 0 8px;

        &.month{
          flex: 0 0 178px;
          max-width: 178px;
        }
        &.custom-dropdown{
            flex: 0 0 15%;
            max-width: 15%;
        }
        &.event-notes{
            .event-notes-inner{
                border: 1px solid $grey;
                display: inline-flex;
                align-items: center;
                border-radius: 24px;
                padding: 7px 4px;
            }        
            span{
                padding: 0 8px;
                display: inline-flex;
                align-items: center;
                height: 100%;
        
        
                &:first-child{
                    border-right: 1px solid $grey;
                }
                img{
                    cursor: pointer;
                    filter: brightness(1.2) contrast(1.2) sepia(1) hue-rotate(180deg) saturate(0.3);

                    &.active{
                        filter: none;
                    }
                }
            }
        }
        }
        
    }
    
}