
.purple-btn{
    background-color: $purple-color;
    height: 12px;
    width: 20px;
    border-radius: 100px;
 }
.primary-btn{
color: $primary-color;
font-weight: 600;
border-radius: 4px;
padding: 0 20px;
border: 1px solid $primary-color;
display: inline-block;
text-align: center;
line-height: 2.8;
transition: 0.5s all;

&:hover{
    background-color: $primary-color;
    color: $white;
}
}
.secondary-btn{
    line-height: 1.7;
    padding: 0 8px;
    display: inline-block;
    color: $blue-color;
    background-color: $light-blue;
    border-radius: 4px;

}

.fc-theme-standard {
    td{
        color: $black-1;
        font-weight: 400;
    }
}

.fc{    
    
    .fc-col-header-cell-cushion {
        padding: 12px;
    }
    .fc-daygrid-day-top{
        flex-direction: row;
        padding: 9px 12px;
        .fc-daygrid-day-number {
            padding: 3px 6px;
            border-radius: 4px;
        }
        
    }
    .fc-day-other{
    .fc-daygrid-day-top{
        color: $text-color-1;
        opacity: 1;
    }
    }
    .fc-daygrid-day{
        &.fc-day-today{
            background-color: $white;
            .fc-daygrid-day-top{
                .fc-daygrid-day-number{
                    background-color:$light-blue;
                }
            }
        }
    }


.fc-toolbar{
    &.fc-header-toolbar{
        margin-bottom: 17px;
    }
}
}
.fc-theme-standard{
    th{
        color: $text-color;
        font-weight: 400;
    }
}

.month{
    .select2{
        &.select2-container{
            width: 100% !important; 
            max-width: 162px; 
    
            .select2-selection--single{
                height: 36px;
                .select2-selection__rendered{
                    line-height: 36px;
                    font-size: 16px;
                    font-weight: 600;
                    padding-left: 0;
                }
            }
         }
    
        &.select2-container--default{
            .select2-selection--single{
                // border: 1px solid $grey;
                border-radius: 24px;
                border: none;
    
                .select2-selection__arrow {
                    background-image: url(../images/vector.svg);
                    position: absolute;
                    background-size: 10px 10px;
                    cursor: pointer;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: all 0.5s;
                    height: 100%;
                    width: 12px;
                    top: -1px;
                    right: 5px;
    
                    b{
                        display: none;
                    }
                }
            }
        }
    }
}
   
.custom-dropdown{
    .select2{
        &.select2-container{
            width: 100% !important; 
    
            .select2-selection--single{
                height: 36px;
                .select2-selection__rendered{
                    line-height: 36px;
                    font-size: 14px;
                    font-weight: 400;
                    padding-left: 12px;
                    padding-right: 36px;
                }
            }
         }
    
        &.select2-container--default{
            .select2-selection--single{
                border: 1px solid $grey;
                border-radius: 24px;

                .select2-selection__arrow {
                    background-image: url(../images/vector.svg);
                    position: absolute;
                    background-size: 7px 7px;
                    cursor: pointer;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: all 0.5s;
                    height: 100%;
                    width: 8px;
                    top: 0px;
                    right: 10px;
    
                    b{
                        display: none;
                    }
                }
                .select2-selection__placeholder{
                    color: $text-color-2;
                }

            }
        }
    }
}
.slider-block{
    .swiper-pagination{
        display: none;
    }
    .next-arrow{
        &.swiper-button-disabled{
            path{
                fill: #B9B8B8;
            }
        }
    }
    .prev-arrow{
        &.swiper-button-disabled{
            path{
                fill: #B9B8B8;
            }
        }
    }
}
  
