
$black: #000000;
$black-1:#151515;
$white: #ffffff;
$text-color: #747272;
$text-color-1:#B9B8B8;
$primary-color:#2F64FF;
$grey: #DBDBDB;
$purple-color:#7B61FF;
$text-color-2:#373737;
$blue-color:#18009E;
$light-blue:#E8EEFF;

